body{
    background: url(dc142450-d621-4428-abed-1d66887d37ed-een-hollands-beeld.jpg) no-repeat;
font-family: Georgia, 'Times New Roman', Times, serif;}
main{
    padding: 20px;
}
h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h1{padding: 20px;}
#about{
    display: flex;
    padding: 5px;
    /* margin: 4% 0;*/
}
.left {
    /* width: 30%; */
    flex: 3;
}
#about {
    display: flex;
    padding: 2px;

}
.col{
    border: rgb(0, 0, 0)dashed 2px;
    background-color: rgba(173, 151, 104, 0.63);
    border-radius: 12px;
    border-right: 5px;
    border-style: initial;
    border: 2px solid rgb(7, 7, 7);
    padding: 5%;
    border-radius: 50px;
}

.right{
    flex: 7;
    border-left: 2px dotted black;
}